<% if @immutable_entries.blank? %>
	<div class="panel callout">	<p>No episodes scheduled. Select episodes on the right to add them to the playlist.</p></div>
<% else %>

	<table id="immutable-entries-table">
		<tbody>
			<% @immutable_entries.each do |entry| %>
				<%= content_tag_for :tr, entry do %>
					<%= render 'playlist_entry', entry: entry %>
				<% end %>
			<% end %>
		</tbody>
	</table>

	<table id="changeable-entries-table" data-post-sort-url="<%= sort_playlist_entries_url(offset: @offset, channel_playlist_id: @channel_playlist.id) %>">
		<tbody id="playlist-entry-list">
				<% @changeable_entries.each do |entry| %>
					<%= content_tag_for :tr, entry do %>
						<%= render 'playlist_entry', entry: entry %>
					<% end %>
				<% end %>
		</tbody>
</table>
<% end %>