<div class="pagination-centered">
	<%= will_paginate @episodes, :param_name => 'page', :params => { :controller => "playlist_management", :action => "index" }, renderer: FoundationPagination::Rails %> 
</div>


<table>
	<thead>
		<tr>
			<th width="80"></th>
			<th><%= sort_link @query, :title, {}, { :remote => true, :method => :get } %></th>
			<th><%= sort_link @query, :duration, {}, { :remote => true, :method => :get } %></th>
			<th><%= sort_link @query, :pub_date, {}, { :remote => true, :method => :get } %></th>
			<th><i class="fa fa-play"></i></th>
			<th>Last played</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @episodes.each do |episode| %>
		<tr>
			<td width="80"><%= image_tag episode.icon_url_podcast_fallback, size: '80' %></td>
			<td><%= link_to episode.title, episode %></td>
			<td><%= episode.duration %></td>
			<td><%= episode.pub_date %></td>
			<td><%= episode.playcount %></td>
			<td><%= episode.last_played %></td>
			<td>
				<% if episode.cached? %>
				<%= link_to controller: 'playlist_management', action: 'append_entry', remote: true, episode_id: episode.id, channel_playlist: @channel_playlist.id do%><i class="fa fa-plus-circle"></i><% end %>
				<% else %>
				<%= link_to controller: 'episodes', action: 'download', id: episode.id, remote: true do %><i class="fa fa-download"></i><% end %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>


<div class="pagination-centered">
	<%= will_paginate @episodes, :param_name => 'page', :params => { :controller => "playlist_management", :action => "index" }, renderer: FoundationPagination::Rails %> 
</div>