<div class="row">
	<div class="medium-12 columns">
		<h1>Playlist Management <small><%= @channel_playlist.name %></small></h1>
		<p><%= @channel_playlist.description %></p>
	</div>
</div>

<div class="row">
	<div class="medium-4 columns">
		<div id="playlist" data-fetch-url="<%= update_playlist_entries_url(channel_playlist_id: @channel_playlist.id) %>">
			<%= render 'playlist' %>
		</div>
	</div>
	<div class="medium-8 columns">

		<dl class="tabs" data-tab>
			<dd class="active"><a href="#panel2-1"><i class="fa fa-volume-up handle fa-lg"></i> Podcast Episodes</a></dd>
			<dd><a href="#panel2-2"><i class="fa fa-bullhorn handle fa-lg"></i> Jingles</a></dd>
		</dl>
		<div class="tabs-content">
			<div class="content active" id="panel2-1">


				<div id="searchbar" class="row">
					<div class="small-12 columns">
						<%= search_form_for @query, url: playlist_management_path, method: :get, remote: true do |f| %>
							<div class="row collapse">
								<div class="medium-10 columns">
									<%= f.text_field :title_or_subtitle_cont, :placeholder => "Verzeichnis durchsuchen", :id => "search-input-field" %>
								</div>
								<div class="medium-2 columns hide-for-small">
									<%= f.submit "Search", :class => "prefix button" %>
								</div>
							</div>
							<div class="row">
								<div class="medium-12 columns">
									<%= f.check_box :cached_true %>
									<%= f.label 'Only show cashed episodes' %>
								</div>
							</div>
						<% end %>
					</div>
				</div>

				<div id="results"><%= render 'results' %></div>

			</div>
			<div class="content" id="panel2-2">
				<%= render 'jingles_list' %>
			</div>
		</div>

	</div>
</div>