<div class="row">
	<div class="medium-12 columns">
		<h1>Playlist Management <small><%= @channel_playlist.name %></small></h1>
		<p><%= @channel_playlist.description %></p>
	</div>
</div>

<div class="row">
	<div class="medium-4 columns playlist">
		<div id="playlist" style="background: #eee; height: 600px; overflow-y: scroll">
		<% @playlist_entries.each do |entry| %>
			<div>
				<%= entry.start_time %>, 
				<%= entry.episode.title %>
			</div>
		<% end %>
		</div>
		<div class="success button" style="width:100%">Download All</div>
		<div class="button" style="width:100%">Apply</div>
	</div>
	<div class="medium-8 columns">
        <ul class="small-block-grid-3 large-block-grid-3">
        <% @episodes.each do |episode| %>
          <li>
                <img src="<%= episode.icon_url %>">
                <h5><%= episode.title %></h5>
                <p><%= first_x_words(episode.subtitle) %></p>
				<%= link_to 'Add', {controller: 'playlist_management', action: 'create_entry', episode_id: episode.id, channel_playlist: @channel_playlist.id}, class: 'button small success'%>
          </li>
        <% end %>
        </ul>
	</div>
</div>