<div class="row">
	<div class="medium-12 columns">
		<h1>Playlist Management <small><%= @channel_playlist.name %></small></h1>
		<p><%= @channel_playlist.description %></p>
	</div>
</div>

<div class="row">
	<div class="medium-4 columns">
		<div class="panel" style="height: 600px; overflow-y: scroll">

			<ul id="playlist-entry-list" data-update-url="<%= sort_playlist_entries_url%>">
				<% @playlist_entries.each do |entry| %>
					<%= content_tag_for :li, entry do %>
						<span class="handle">drag</span>
						<div><%= entry.position %></div>
						<div><%= entry.episode.title %></div>
						<div><%= entry.start_time %></div>
						<div><%= entry.end_time %></div>
 						<div>Time left: <%= entry.time_left %> seconds</div>
						<% if !entry.isLive? %>
							<div><%= link_to 'Remove', {controller: 'playlist_management', action: 'destroy_entry', playlist_entry_id: entry.id, channel_playlist: @channel_playlist.id}, class: 'button alert tiny'%></div>
						<% end %>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="medium-8 columns">
        <ul class="small-block-grid-3 large-block-grid-3">
        <% @episodes.each do |episode| %>
          <li>
                <img src="<%= episode.icon_url %>">
                <h5><%= episode.title %></h5>
                <p><%= first_x_words(episode.subtitle) %></p>
                <% if episode.cached? %>
					<%= link_to 'Add', {controller: 'playlist_management', action: 'create_entry', episode_id: episode.id, channel_playlist: @channel_playlist.id}, class: 'button small'%>
				<% else %>
					<%= link_to 'Download', {controller: 'episodes', action: 'download', id: episode.id}, class: 'button small success' %>
				<% end %>
          </li>
        <% end %>
        </ul>
	</div>
</div>