<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!-- FLASH MESSAGES -->
    <% if !flash.blank? %>
    <div class="row">
      <div class="medium-12 columns">
        <!-- TODO add alert and notice for devise -->
        <% if flash[:error] %>
          <div class="alert-box alert"><%= flash[:error] %></div>
        <% end %>
        <% if flash[:success] %>
          <div class="alert-box success"><%= flash[:success] %></div>
        <% end %>
        <% if flash[:notice] %>
          <div class="alert-box"><%= flash[:notice] %></div>
        <% end %>
      </div>
    </div>
    <% end %>

    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>