<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @playlist_entry.start_time %>
</p>

<p>
  <strong>Premiere:</strong>
  <%= @playlist_entry.premiere %>
</p>

<%= link_to 'Edit', edit_playlist_entry_path(@playlist_entry) %> |
<%= link_to 'Back', playlist_entries_path %>
