<div class="row">
	<div class="medium-12 columns">
		<h1>Podcast Verzeichnis</h1>
		<p>Hier findet ihr nun eine Liste all der Podcasts, die bereits zugesagt haben, dass sie auch beim ReliveRadio gespielt werden dürfen. Wir bedanken uns bei allen Podcasts, die bereit sind bei diesem Projekt mitzumachen.</p>
		<p>Aktuell sind <%= @podcast_count %> Podcasts dabei!</p>

		<div id="searchbar" class="row">
			<div class="large-6 medium-9 small-centered columns">
				<%= search_form_for @query, url: directory_path, method: :get, remote: true do |f| %>
					<div class="row collapse">
						<div class="medium-10 columns">
							<%= f.text_field :title_or_subtitle_cont, :placeholder => "Verzeichnis durchsuchen", :id => "search-input-field" %>
						</div>
						<div class="medium-2 columns hide-for-small">
							<%= f.submit "Suchen", :class => "prefix button" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>

		<div id="results"><%= render 'results' %></div>
	</div>
</div>