<div class="row">
	<div class="medium-3 columns">
		<%= image_tag @podcast.coverart.thumb_400 %>
	</div>
	<div class="medium-9 columns">
		<h1><%= @podcast.title %></h1>
		<h3><%= @podcast.subtitle%></h3>

		<p><%= @podcast.description %></p>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">

		<div id="searchbar" class="row">
			<div class="large-6 medium-9 small-centered columns">
				<%= search_form_for @episodes_query, url: directory_show_podcast_url(@podcast.id), remote: true, method: :get do |f| %>
					<div class="row collapse">
						<div class="medium-10 columns">
							<%= f.text_field :title_or_subtitle_cont, :placeholder => "Episoden durchsuchen", :id => "search-input-field" %>
						</div>
						<div class="medium-2 columns hide-for-small">
							<%= f.submit "Search", :class => "prefix button" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>

		<div id="results-episodes"><%= render 'episodes' %></div>
	</div>
</div>
