<%= form_for(@episode) do |f| %>
  <% if @episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% @episode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :pub_date %><br>
    <%= f.datetime_select :pub_date %>
  </div>
  <div class="field">
    <%= f.label :guid %><br>
    <%= f.text_field :guid %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br>
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :flattr_url %><br>
    <%= f.text_field :flattr_url %>
  </div>
  <div class="field">
    <%= f.label 'tags (comma separated)' %><br>
    <%= f.text_field :tag_list %>
  </div>
  <div class="field">
    <%= f.label :icon_url %><br>
    <%= f.text_field :icon_url %>
  </div>
  <div class="field">
    <%= f.label :audio_file_url %><br>
    <%= f.text_field :audio_file_url %>
  </div>
  <div class="field">
    <%= f.label :audio %><br>
    <%= f.text_field :audio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
