<ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-5">
	<% @podcasts.each do |podcast| %>
	<li>
		<a href="<%= directory_show_podcast_url(podcast.id) %>">
			<img src="<%= podcast.logo_url %>" />
		</a>
		<h5><%= podcast.title %></h5>
		<%= first_x_words(podcast.description, 20) %>
	</li>
	<% end %>
</ul>
<div class="pagination-centered">
	<%= will_paginate @podcasts, :param_name => 'podcasts_page',  renderer: FoundationPagination::Rails %> 
</div>