<div class="row">
	<div class="medium-3 columns">
		<img src="<%= @podcast.logo_url %>" />
	</div>
	<div class="medium-9 columns">
		<h1><%= @podcast.title %></h1>
		<h3><%= @podcast.subtitle%></h3>

		<p><%= @podcast.description %></p>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">

		<ul class="small-block-grid-3 large-block-grid-5">
			<% @episodes.each do |episode| %>
			<li>
				<a href="<%= directory_show_episode_url(episode.id) %>">
					<img src="<%= episode.icon_url.blank? ? @podcast.logo_url : episode.icon_url %>" />
				</a>
				<h5><%= episode.title %></h5>
			</li>
			<% end %>
		</ul>
	</div>
</div>
