<div class="row">
	<div class="medium-12 columns">
		<h1>Listing podcasts</h1>

		<%= link_to 'New Podcast', new_podcast_path, class: 'button success' %>
		<%= link_to 'Check for new Episodes', {controller: 'podcasts', action: 'update_all_feeds'}, class: 'button' %>


		<table>
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Author</th>
					<th>Links</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @podcasts.each do |podcast| %>
				<tr>
					<td><%= image_tag podcast.logo_url, size: '80' %></td>
					<td><%= link_to podcast.title, podcast %></td>
					<td><%= podcast.author %></td>
					<td>
						<div>Website: <%= podcast.website %></div>
						<div>Feed: <%= podcast.feed %></div>
					</td>
					<td>
						<p><%= link_to edit_podcast_path(podcast) do %><i class="fa fa-edit"></i> <% end %>
						<%= link_to podcast, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o"></i> <% end %></p>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>

		
	</div>
</div>

