<div class="row">
	<div class="medium-12 columns">
		<h1>Listing podcasts</h1>

		<%= link_to 'New Podcast', new_podcast_path, class: 'button success' %>
		<%= link_to 'Check for new Episodes', update_all_podcasts_path, class: 'button' %>

		<div id="searchbar" class="row">
			<div class="large-6 medium-9 small-centered columns">
				<%= search_form_for @query, method: :get, remote: false do |f| %>
					<div class="row collapse">
						<div class="medium-10 columns">
							<%= f.text_field :title_or_subtitle_cont, :placeholder => "Search Podcast", :id => "search-input-field" %>
						</div>
						<div class="medium-2 columns hide-for-small">
							<%= f.submit "Search", :class => "prefix button" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>

		<%= render 'podcasts_list' %>
		
	</div>
</div>

