<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @podcast.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @podcast.description %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @podcast.logo_url %>
</p>

<p>
  <strong>Website:</strong>
  <%= @podcast.website %>
</p>

<p>
  <strong>Feed:</strong>
  <%= @podcast.feed %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @podcast.tags %>
</p>

<p>
  <strong>Category:</strong>
  <%= @podcast.category %>
</p>

<h2>All episodes of this podcast</h2>

<%= link_to 'Check for new Episodes', {controller: 'podcasts', action: 'update_feed', id: @podcast.id}, class: 'button success'%>
<%= link_to 'Delete All Episodes', {controller: 'podcasts', action: 'delete_all_episodes', id: @podcast.id}, class: 'button alert' %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Pub date</th>
      <th>Guid</th>
      <th>Subtitle</th>
      <th>Content</th>
      <th>Duration</th>
      <th>Flattr url</th>
      <th>Tags</th>
      <th>Icon url</th>
      <th>Audio file url</th>
      <th>Cached</th>
      <th>Local path</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.title %></td>
        <td><%= episode.link %></td>
        <td><%= episode.pub_date %></td>
        <td><%= episode.guid %></td>
        <td><%= episode.subtitle %></td>
        <td><%= episode.content %></td>
        <td><%= episode.duration %></td>
        <td><%= episode.flattr_url %></td>
        <td><%= episode.tags %></td>
        <td><%= episode.icon_url %></td>
        <td><%= episode.audio_file_url %></td>
        <td><%= episode.cached %></td>
        <td><%= episode.local_path %></td>
        <td><%= link_to 'Show', episode %></td>
        <td><%= link_to 'Edit', edit_episode_path(episode) %></td>
        <td><%= link_to 'Destroy', episode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_podcast_path(@podcast) %> |
<%= link_to 'Back', podcasts_path %>
