
<div class="row">
	<div class="medium-3 columns">
		<%= image_tag @podcast.logo_url %>
		<%= link_to 'Edit', edit_podcast_path(@podcast), class: 'button', style: 'width: 100%' %>
	</div>
	<div class="medium-9 columns">
		<h1><%= @podcast.title %></h1>
		<h2><small><%= @podcast.subtitle %></small></h2>
		<table>
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td><strong>Language:</strong></td>
					<td><%= @podcast.language %></td>
				</tr>

				<tr>
					<td><strong>Author:</strong></td>
					<td><%= @podcast.author %></td>
				</tr>

				<tr>
					<td><strong>Description:</strong></td>
					<td><%= @podcast.description %></td>
				</tr>

				<tr>
					<td><strong>Logo url:</strong></td>
					<td><%= @podcast.logo_url %></td>
				</tr>

				<tr>
					<td><strong>Website:</strong></td>
					<td><%= @podcast.website %></td>
				</tr>

				<tr>
					<td><strong>Feed:</strong></td>
					<td><%= @podcast.feed %></td>
				</tr>

				<tr>
					<td><strong>Tags:</strong></td>
					<td><%= @podcast.tags %></td>
				</tr>

				<tr>
					<td><strong>Category:</strong></td>
					<td><%= @podcast.category %></td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

<div class="row">
	<div class="medium-12 colums">


		<h2>All episodes of this podcast</h2>

		<%= link_to 'Check for new Episodes', {controller: 'podcasts', action: 'update', id: @podcast.id}, class: 'button success'%>
		<%= link_to 'Delete All Episodes', {controller: 'podcasts', action: 'delete_all_episodes', id: @podcast.id}, class: 'button alert' %>
		<%= link_to 'Download All Episodes', {controller: 'podcasts', action: 'download_all_episodes', id: @podcast.id}, class: 'button' %>
		
		<div id="searchbar" class="row">
			<div class="large-6 medium-9 small-centered columns">
				<%= search_form_for @query, url: podcast_path(id: @podcast.id), method: :get, remote: false do |f| %>
					<div class="row collapse">
						<div class="medium-10 columns">
							<%= f.text_field :title_or_subtitle_cont, :placeholder => "Search Episode of this Podcast", :id => "search-input-field" %>
						</div>
						<%= f.hidden_field :podcast_id_eq, value: @podcast.id %>
						<div class="medium-2 columns hide-for-small">
							<%= f.submit "Search", :class => "prefix button" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>

		<%= render 'episode_list' %>
		
	</div>
</div>