<% if @playlist_entries.blank? %>
	<p>No episodes scheduled.</p>
<% else %>
	<% @playlist_entries.each do |entry| %>
		<% if entry.is_episode? %>
			<div class="row playlist-entry">
				<div class="medium-3 columns">
					<%= image_tag entry.episode.coverart.thumb_400%>
					<div><i class="fa fa-play"></i> <%= entry.start_time.strftime("%H:%M") %></div>
					<div><i class="fa fa-stop"></i> <%= entry.end_time.strftime("%H:%M") %></div>
					
					<% if entry.is_live? %>
						<div><i class="fa fa-clock-o"></i> <%= entry.time_left_human %></div>
						<div class="progress">
							<span class="meter" style="width: <%= entry.percent_left %>%"></span>
						</div>
					<% end %>
				</div>
				<div class="medium-9 columns">

					<h3><%= entry.episode.title %></h3>
					<p><%= entry.episode.subtitle %></p>

				</div>
			</div>
		<% end %>
	<% end %>
<% end %>