<%= form_for(@jingle) do |f| %>
  <% if @jingle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jingle.errors.count, "error") %> prohibited this jingle from being saved:</h2>

      <ul>
      <% @jingle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :audio_path %><br>
    <%= f.text_field :audio_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
