<div class="row">
	<div class="medium-12 columns">
		
		<h1>Jingle Management</h1>

		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Duration</th>
					<th>Audio</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @jingles.each do |jingle| %>
				<tr>
					<td><%= link_to jingle.title, jingle %></td>
					<td><%= jingle.duration %></td>
					<td><%= jingle.audio_url.to_s %></td>
					<td><%= link_to 'Edit', edit_jingle_path(jingle), class: 'button tiny' %></td>
					<td><%= link_to 'Destroy', jingle, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny alert' %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<br>

		<%= link_to 'New Jingle', new_jingle_path, class: 'button' %>
	</div>
</div>

