<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @channel_playlist.author %>
</p>

<p>
  <strong>Name:</strong>
  <%= @channel_playlist.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel_playlist.description %>
</p>

<p>
  <strong>Language:</strong>
  <%= @channel_playlist.language %>
</p>

<%= link_to 'Edit', edit_channel_playlist_path(@channel_playlist) %> |
<%= link_to 'Back', channel_playlists_path %>
